/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* our css begins here */


body {
    padding: none;
    margin: none;
    font-family: Verdana;
    background: #ffffff;
}

#topbar {
    background: #ffffff;
    border-bottom: solid 1px #dddddd;
    height: 56px;
    /*color: #DD3497;*/
    font-size: 1.8em;
    /*font-weight: bold;*/
    padding: 13px;
}

#sidebar {
    background: #ffffff;
    padding: 20px;
    border-top: solid 1px #dddddd;
}

#sidebar text {
    color: #555555;
}

#sidebar p{
    color: #555555;
}

select {
    background: #ffffff;
    border: solid 1px #dddddd;
    color: #555555;
    font-size: 1.0em;
}

button {
    background: #ffffff;
    border: solid 1px #dddddd;
    color: #555555;
}

option {
    background: #eeeeee;
    color: #555555;
}

#map {
}

#json-zip-complaint {
    display:none;
}

#json-complaint {
    display:none;
}

#json-demographics {
    display:none;
}

#json-zips {
     display:none;
 }

path {
    stroke: #aaaaaa;
    /* fill: #333333; */
}

#tooltip {
    background: #ffffff;
    position: absolute;
    border: solid 1px #555555;
    color: #555555;
    padding: 5px;
    display: none;
    z-index: 100;
}

#tooltip-data {
    font-size: 0.7em;
}

#tooltip-data p {
    display: inline;
}

#tooltip-zip {
    
}

.bar-container {
    width: 400px;
}

.bar-container div {
    display: inline-block;
    font-size: 0.7em;
    margin-bottom: 2px;
}

div.label {
    width: 165px;
    text-align: right;
    margin-right: 3px;
}

div.bar {
    color: #00ff00;
    background: #ff0000;
    padding: 2px;
}

#divider {
    border-bottom: solid 1px #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}

#zip {
    display: inline-block;
    width: 400px;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555555;
}

#subhead {
    font-size: 0.8em;
}

#map-options {
    position: absolute;
    left: 40px;
    top: 99px;
    color: #555555;
    font-size: 0.75em;
    /* font-weight: bold; */
}

#map-options p {
    color: #555555;
    margin-bottom: 8px;
    /* font-weight: bold; */
}
    
.info {
    font-size: 0.75em;
    margin-top: 5px;
    margin-bottom: 15px;
}

#bar-zip-label {
    display: inline;
    float: left;
    font-size: 1.6em;
    margin-top: 36px;
}

.chart {
    float: left;
}

.chart rect {
    stroke: #ffffff;
}

.chart text {
    font-size: 0.7em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #555555;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
}

#dem-select {
    position: absolute;
    top: 120px;
    right: 80px;
    font-size: 0.75em;
}

line {
    stroke-width: 3px;
}

#scatter {
    position: absolute;
    top: 80px;
    left: 800px;
}

#header {
    float: left;
}

#preset-intro {
    color: #555555;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
}

#presets {
    position: absolute;
    top: 20px;
    left: 650px;
    font-size: 0.4em;
    color: #555555;
}

#presets p {
    float: left;
}

.preset {
    width: 80px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
}

.preset-selected {
    border: solid 1px #555555;
}