/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* our css begins here */


body {
    padding: none;
    margin: none;
    font-family: Sans-Serif;
    background: #111111;
}

#topbar {
    background: #222222;
    height: 30px;
    color: #DD3497;
    font-size: 1.8em;
    font-weight: bold;
    padding: 10px;
}

#sidebar {
    height: 1000px;
    float: left;
    width: 300px;
    background: #333333;
    padding: 20px;
    color: #eeeeee;
}

select {
    background: #222222;
    border: solid 1px #eeeeee;
    color: #eeeeee;
}

button {
    background: #222222;
    border: solid 1px #eeeeee;
    color: #eeeeee;
}

option {
    background: #222222;
    color: #eeeeee;
}

#map {
    float: left;
}

#json-zip-complaint {
    display:none;
}

#json-complaint {
    display:none;
}

#json-zips {
     display:none;
 }

path {
    stroke: #111111;
    fill: #333333;
}

#tooltip {
    height: 28px;
    background: #333333;
    position: absolute;
    border: solid 1px #eeeeee;
    color: #eeeeee;
    padding: 5px;
    display: none;
}

#tooltip-data {
    font-size: 0.7em;
}

#tooltip-data p {
    display: inline;
}

#tooltip-zip {
    font-weight: bold;
}
