/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* our css begins here */


body {
    padding: none;
    margin: none;
    font-family: Verdana;
    background: #ffffff;
}

#topbar {
    background: #ffffff;
    border-bottom: solid 1px #dddddd;
    height: 100%;
    /*color: #DD3497;*/
    font-size: 1.8em;
    /*font-weight: bold;*/
    padding: 13px;
}

#sidebar {
    background: #ffffff;
    padding: 20px;
    color: #555555;
    border-top: solid 1px #dddddd;
}

select {
    background: #ffffff;
    border: solid 1px #dddddd;
    color: #555555;
    font-size: 1.0em;
}

button {
    background: #ffffff;
    border: solid 1px #dddddd;
    color: #555555;
}

option {
    background: #eeeeee;
    color: #555555;
}

#map {
}

#json-zip-complaint {
    display:none;
}

#json-complaint {
    display:none;
}

#json-demographics {
    display:none;
}

#json-zips {
     display:none;
 }

path {
    stroke: #aaaaaa;
    /*fill: #333333;*/
}

#tooltip {
    height: 28px;
    background: #333333;
    position: absolute;
    border: solid 1px #eeeeee;
    color: #eeeeee;
    padding: 5px;
    display: none;
}

#tooltip-data {
    font-size: 0.7em;
}

#tooltip-data p {
    display: inline;
}

#tooltip-zip {
    font-weight: bold;
}

.bar-container {
    width: 400px;
}

.bar-container div {
    display: inline-block;
    font-size: 0.7em;
    margin-bottom: 2px;
}

div.label {
    width: 165px;
    text-align: right;
    margin-right: 3px;
}

div.bar {
    color: #00ff00;
    background: #ff0000;
    padding: 2px;
}

#divider {
    border-bottom: solid 1px #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}

#zip {
    display: inline-block;
    width: 400px;
    text-align: center;
    font-size: 1.0em;
    /*font-weight: bold;*/
    margin-bottom: 10px;
}

#subhead {
    font-size: 0.8em;
}

#map-options {
    position: absolute;
    left: 40px;
    top: 99px;
    color: #555555;
    /* font-weight: bold; */
}

#map-options p {
    color: #555555;
    margin-bottom: 8px;
    /* font-weight: bold; */
}
    
.info {
    font-size: 0.8em;
}

.chart rect {
    stroke: #ffffff;
}

.chart text {
    font-size: 0.8em;
}